<script type="text/template" id="template-calendar">
  <div class="row">
    <div class="col-md-12">
      <div class="clndr-controls">

        <div class="month"><%%= month + " " + year %></div>

        <div class="pull-right">
          <button class="btn btn-sm manage-tags" data-toggle="modal" data-target="#js-manage-tags">
            <span class="glyphicon glyphicon-tag"></span>
            Manage Tags
          </button>

          <div class="clndr-previous-button">
            <span class="glyphicon glyphicon-chevron-left btn"></span>
          </div>
          <div class="clndr-next-button">
            <span class="glyphicon glyphicon-chevron-right btn"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2" id="goals">
      <div class="goal-header">Weekly Goals</div>
      <div class="goals">

        <%% var weekly_total = 0; %>

        <%% _.each(days, function(day, index) { %>

          <%% if (!_.isEmpty(day.events)) { %>
            <%% weekly_total += (day.events[0].duration / 60); %>
          <%% } %>

          <%% if ((index + 1) % 7 == 0 && index != 0) { %>
            <div class="goal"><%%= weekly_total + ' hours' %></div>
            <%% weekly_total = 0; %>
          <%% } %>
        <%% }); %>

      </div>
    </div>

    <div class="col-md-10" id="cal">
      <div class="clndr-grid">
        <div class="days-of-the-week">
          <%% //console.log(_.size(days)); %>
          <%% _.each(daysOfTheWeek, function(day) { %>
            <div class="header-day"><%%= day %></div>
          <%% }); %>

          <div class="clearfix"></div>

          <div class="days">
            <%% _.each(days, function(day, index) { %>
              <%% //console.log('index is ' + index); %>

              <div class="<%%= day.classes %> <%%= day.date.format('ddd').toLowerCase() %> js-new-ride" data-index="<%%= index %>" data-toggle="modal" data-target="#ride-form" data-date="<%%= day.date.format('GGGG-MM-DD') %>">
                <span class="options"></span>
                <span class="clndr-day pull-right"><%%= day.day %></span>

                <%% if (!_.isEmpty(day.events)) { %>
                  <%% var category = findCategoryById(day.events[0].category_id); %>
                  <div class="activity" style="background-color: <%%= category.color() %>;">
                    <%% if (day.events[0].duration > 0) { %>
                      <div class="duration">
                        <%%= day.events[0].duration / 60 + " h" %>
                      </div>
                    <%% } %>
                    <div class="category">
                      <%%= category.label() %>
                    </div>
                  </div>
                <%% } %>
              </div>

            <%% }); %>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
