<h2 class="labels">Manage Labels</h2>

<div id="categories" data-bind="foreach: categories">
  <div class="category">
    <div class="picker">
      <input class="js-color-picker" type="text" data-bind="value: color">
    </div>

    <div class="name">
      <span data-bind="visible: !editing(), text: label, click: edit"></span>
      <input data-bind="visible: editing, value: label, hasFocus: editing">
    </div>

    <div class="action">
      <a href="#" data-bind="click: $root.removeCategory">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
  </div>
</div>
  
<form class="add-category form-inline" role="form">
  <div class="picker">
    <input id="color" type="text" class="form-control js-color-picker" placeholder="Hex code">
  </div>
  <div class="name">
    <input id="label" type="text" class="form-control" placeholder="Label name">
  </div>
  <div class="action">
    <button data-bind="click: addCategory" class="btn btn-default">Create</button>
  </div>
</form>
