<div class="modal fade" id="js-manage-tags" tabindex="-1" role="dialog" aria-labelledby="manage-tags" aria-hidden="true">

  <div class="modal-dialog manage-tags">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Manage Tags</h2>
      </div>

      <div class="modal-body">
        <div id="tags" data-bind="foreach: tags">
          <div class="tag">
            <div class="picker">
              <input class="js-color-picker" type="text" data-bind="value: color">
            </div>

            <div class="name">
              <span data-bind="visible: !editing(), text: label, click: edit"></span>
              <input data-bind="visible: editing, value: label, hasFocus: editing">
            </div>

            <div class="action">
              <a href="#" data-bind="click: $root.removeTag">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </div>
          </div>
        </div>

        <form class="add-tag form-inline" role="form">
          <div class="picker">
            <input id="color" type="text" class="form-control js-color-picker" placeholder="Hex code">
          </div>
          <div class="name">
            <input id="label" type="text" class="form-control" placeholder="Name">
          </div>
          <div class="action">
            <button data-bind="click: addTag" class="btn btn-default">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
