@import "bootstrap";
@import "bootstrap-chosen";
@import "spectrum";

// BRAND

.navbar-brand {
  font-family: 'Yellowtail', cursive;
  font-size: 24px;
}

body {
  padding-bottom: 100px;
}
// TAGS

.manage-tags.modal-dialog {
  width: 407px;
}

h2.labels {
  font-size: 20px;
}

#tags .tag, form.add-tag {
  padding: 7px 10px;
  width: 365px;

  div {
    display: inline-block;
  }

  div.name {
    margin-left: 10px;
    width: 200px;

    span {
      padding: 4px;
      display: inline-block;
      cursor: pointer;
    }
  }

  div.action {
    margin-left: 19px;
  }
}

div.action a {
  margin-left: 44px;
}

#tags .tag:nth-child(odd) {
  background: #F5F5F5;
}

#tags .tag:last-child {
  margin-bottom: 5px;
}

form.add-tag {
  padding-top: 11px;
  padding-right: 0;
  border-top: 3px dotted #EBEBEB;

  input#label {
    width: 213px;
  }
}

/* CALENDAR */

button.manage-tags {
  position: relative;
  top: 1px;
}

.clndr-previous-button, .clndr-next-button {
  cursor: pointer;
  display: inline-block;
  color: white;

  .btn:hover {
    color: #ffd012;
  }
}

.clndr-controls {
  background: #7a7a7a;
  padding: 10px 5px 10px 15px;
  border-left: 2px solid white;
  border-right: 3px solid white;
  border-bottom: 2px solid white;
}

.month {
  display: inline-block;
  font-size: 22px;
  color: white;
}

#cal {
  padding-left: 0;
}

#goals {
  padding-right: 0;
}

.clndr-day {
  line-height: 14px;
  color: $gray-light;
}

div.day.today {
  background: #ffdcb3;
}

div.day, div.header-day {
  width: 14.2857%;
  float: left;
  padding: 10px;
}

.goal-header {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.goal-header, .header-day {
  background: #7a7a7a;
  color: white;
  margin-bottom: 2px;
}

.goal-header {
  border-left: 2px solid white;
  //border-right: 2px solid white;
}

.header-day:first-child {
  border-left: 2px solid white;
}

.header-day:nth-child(7) {
  border-right: 2px solid white;
}

.goal {
  padding: 10px;
  background: #c4ebf2;//#ffd75e;
  border-bottom: 2px solid white;//$gray;
  text-align: center;
  font-size: 16px;
  padding-top: 45px;
}

.goal:last-child {
  border-bottom: none;
}

.day, .goal {
  min-height: 120px;
}

.header-day {
  text-align: center;
  font-weight: bold;
}

div.number {
  position: absolute;
  top:0px;
}

div.activity {
  padding: 7px;
  margin-top: 23px;
  text-align: center;
//  border: 1px solid $gray;
  min-height: 70px;
}

.days, .goals {
  border: 2px solid white; //$gray;
 // border-radius: 4px;
}

.goals {
  border-right: none;
}

.day {
  //border-right: 1px solid $gray;
  //border-bottom: 1px solid $gray;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  background: #ebebeb;
}

/*
.day.sun {
  border-right: none;
}
*/

.day:nth-child(7n) {
  border-right: none;
}

.day:nth-last-child(-n+8) {
  border-bottom: none;
}

/* CALENDAR HOVER OPTIONS */

.day {
  position: relative;
}

// TODO: see if we can tap into bootstrap glyphicons

.day.event:hover {
  span.options {
    background: url(glyphicons_439_wrench@2x.png) no-repeat center center;
  }

  .activity {
    opacity: 0.2;
  }
}

.day:hover span.options {
  background: url(glyphicons_432_plus@2x.png) no-repeat center center;
}

span.options {
  height: 100%;
  width: 100%;
  z-index: 100;
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  cursor: pointer;
}
